<!-- <section class="atari1"></section>
<section class="atari2"></section>
<section class="atari3"></section>
<section class="atari4"></section>
<section class="atari5"></section>

<section class="atari8"></section>
<section class="atari9"></section>
<section class="atari10"></section> -->
<section class="grid">

    <section class="blue">
        <article class ="menu">
            <ul>
                <li>Projects</li>
                <li>Resume</li>
                <li>Blog</li>
            </ul>
        </article>
        <section class="menu-mobile" >
            <input id="menu-hamburg-checked" type="checkbox" hidden>
            <article class="menu-thunbnails">
                <label for="menu-hamburg-checked" class="label-check">  
                    <section class="menu-hamburg"></section>
                    
                </label>
                <ul class="itens-menu">
                    <li>Projects</li>
                    <li>Resume</li>
                    <li>Blog</li>
                    

                </ul>
            </article>
        </section>
        <article class="container-name">
            <h2 class="container-name position_absolut_right iam">I am</h2>
            <label class="label-name position_absolut_right label-name-color-yelow">Edvanderson <span>B. Lisboa</span></label>
  
        </article>
        <article class="container-work-text text-blue">
            <h2>I work with</h2>
            <h3>Software Engineer | Full Stacker</h3>
        </article>
        


    </section>
<section class="yellow" >
   
    <article class="container-work-text">
        <h2>I work with</h2>
        <h3>Software Engineer | Full Stacker</h3>
    </article>
    
    <label class="label-name position_absolut_left label-name-color-blue">B. Lisboa</label>
    <svg class="bolinha-left" width="130" height="93" viewBox="0 0 130 93" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="1.5" cy="1.5" r="1.5" class="fill-yellow"/>
        <circle cx="19.5" cy="1.5" r="1.5" class="fill-yellow"/>
        <circle cx="37.5" cy="1.5" r="1.5" class="fill-yellow"/>
        <circle cx="55.5" cy="1.5" r="1.5" class="fill-yellow"/>
        <circle cx="73.5" cy="1.5" r="1.5" class="fill-yellow"/>
        <circle cx="91.5" cy="1.5" r="1.5" class="fill-yellow"/>
        <circle cx="109.5" cy="1.5" r="1.5" class="fill-yellow"/>
        <circle cx="127.5" cy="1.5" r="1.5" class="fill-yellow"/>
        <circle cx="2.5" cy="19.5" r="1.5" class="fill-yellow"/>
        <circle cx="20.5" cy="19.5" r="1.5" class="fill-yellow"/>
        <circle cx="38.5" cy="19.5" r="1.5" class="fill-yellow"/>
        <circle cx="56.5" cy="19.5" r="1.5" class="fill-yellow"/>
        <circle cx="74.5" cy="19.5" r="1.5" class="fill-yellow"/>
        <circle cx="92.5" cy="19.5" r="1.5" class="fill-yellow"/>
        <circle cx="110.5" cy="19.5" r="1.5" class="fill-yellow"/>
        <circle cx="128.5" cy="19.5" r="1.5" class="fill-yellow"/>
        <circle cx="2.5" cy="37.5" r="1.5" class="fill-yellow"/>
        <circle cx="20.5" cy="37.5" r="1.5" class="fill-yellow"/>
        <circle cx="38.5" cy="37.5" r="1.5" class="fill-yellow"/>
        <circle cx="56.5" cy="37.5" r="1.5" class="fill-yellow"/>
        <circle cx="74.5" cy="37.5" r="1.5" class="fill-yellow"/>
        <circle cx="92.5" cy="37.5" r="1.5" class="fill-yellow"/>
        <circle cx="110.5" cy="37.5" r="1.5" class="fill-yellow"/>
        <circle cx="128.5" cy="37.5" r="1.5" class="fill-yellow"/>
        <circle cx="2.5" cy="55.5" r="1.5" class="fill-yellow"/>
        <circle cx="20.5" cy="55.5" r="1.5" class="fill-yellow"/>
        <circle cx="38.5" cy="55.5" r="1.5" class="fill-yellow"/>
        <circle cx="56.5" cy="55.5" r="1.5" class="fill-yellow"/>
        <circle cx="74.5" cy="55.5" r="1.5" class="fill-yellow"/>
        <circle cx="92.5" cy="55.5" r="1.5" class="fill-yellow"/>
        <circle cx="110.5" cy="55.5" r="1.5" class="fill-yellow"/>
        <circle cx="128.5" cy="55.5" r="1.5" class="fill-yellow"/>
        <circle cx="2.5" cy="73.5" r="1.5" class="fill-yellow"/>
        <circle cx="20.5" cy="73.5" r="1.5" class="fill-yellow"/>
        <circle cx="38.5" cy="73.5" r="1.5" class="fill-yellow"/>
        <circle cx="56.5" cy="73.5" r="1.5" class="fill-yellow"/>
        <circle cx="74.5" cy="73.5" r="1.5" class="fill-yellow"/>
        <circle cx="92.5" cy="73.5" r="1.5" class="fill-yellow"/>
        <circle cx="110.5" cy="73.5" r="1.5" class="fill-yellow"/>
        <circle cx="128.5" cy="73.5" r="1.5" class="fill-yellow"/>
        <circle cx="2.5" cy="91.5" r="1.5" class="fill-yellow"/>
        <circle cx="20.5" cy="91.5" r="1.5" class="fill-yellow"/>
        <circle cx="38.5" cy="91.5" r="1.5" class="fill-yellow"/>
        <circle cx="56.5" cy="91.5" r="1.5" class="fill-yellow"/>
        <circle cx="74.5" cy="91.5" r="1.5" class="fill-yellow"/>
        <circle cx="92.5" cy="91.5" r="1.5" class="fill-yellow"/>
        <circle cx="110.5" cy="91.5" r="1.5" class="fill-yellow"/>
        <circle cx="128.5" cy="91.5" r="1.5" class="fill-yellow"/>
        </svg>
        <svg  class="bolina-right"width="130" height="93" viewBox="0 0 130 93" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="1.5" cy="1.5" r="1.5" class="fill-blue"/>
            <circle cx="19.5" cy="1.5" r="1.5" class="fill-blue"/>
            <circle cx="37.5" cy="1.5" r="1.5" class="fill-blue"/>
            <circle cx="55.5" cy="1.5" r="1.5" class="fill-blue"/>
            <circle cx="73.5" cy="1.5" r="1.5" class="fill-blue"/>
            <circle cx="91.5" cy="1.5" r="1.5" class="fill-blue"/>
            <circle cx="109.5" cy="1.5" r="1.5" class="fill-blue"/>
            <circle cx="127.5" cy="1.5" r="1.5" class="fill-blue"/>
            <circle cx="2.5" cy="19.5" r="1.5" class="fill-blue"/>
            <circle cx="20.5" cy="19.5" r="1.5" class="fill-blue"/>
            <circle cx="38.5" cy="19.5" r="1.5" class="fill-blue"/>
            <circle cx="56.5" cy="19.5" r="1.5" class="fill-blue"/>
            <circle cx="74.5" cy="19.5" r="1.5" class="fill-blue"/>
            <circle cx="92.5" cy="19.5" r="1.5" class="fill-blue"/>
            <circle cx="110.5" cy="19.5" r="1.5" class="fill-blue"/>
            <circle cx="128.5" cy="19.5" r="1.5" class="fill-blue"/>
            <circle cx="2.5" cy="37.5" r="1.5" class="fill-blue"/>
            <circle cx="20.5" cy="37.5" r="1.5" class="fill-blue"/>
            <circle cx="38.5" cy="37.5" r="1.5" class="fill-blue"/>
            <circle cx="56.5" cy="37.5" r="1.5" class="fill-blue"/>
            <circle cx="74.5" cy="37.5" r="1.5" class="fill-blue"/>
            <circle cx="92.5" cy="37.5" r="1.5" class="fill-blue"/>
            <circle cx="110.5" cy="37.5" r="1.5" class="fill-blue"/>
            <circle cx="128.5" cy="37.5" r="1.5" class="fill-blue"/>
            <circle cx="2.5" cy="55.5" r="1.5" class="fill-blue"/>
            <circle cx="20.5" cy="55.5" r="1.5" class="fill-blue"/>
            <circle cx="38.5" cy="55.5" r="1.5" class="fill-blue"/>
            <circle cx="56.5" cy="55.5" r="1.5" class="fill-blue"/>
            <circle cx="74.5" cy="55.5" r="1.5" class="fill-blue"/>
            <circle cx="92.5" cy="55.5" r="1.5" class="fill-blue"/>
            <circle cx="110.5" cy="55.5" r="1.5" class="fill-blue"/>
            <circle cx="128.5" cy="55.5" r="1.5" class="fill-blue"/>
            <circle cx="2.5" cy="73.5" r="1.5" class="fill-blue"/>
            <circle cx="20.5" cy="73.5" r="1.5" class="fill-blue"/>
            <circle cx="38.5" cy="73.5" r="1.5" class="fill-blue"/>
            <circle cx="56.5" cy="73.5" r="1.5" class="fill-blue"/>
            <circle cx="74.5" cy="73.5" r="1.5" class="fill-blue"/>
            <circle cx="92.5" cy="73.5" r="1.5" class="fill-blue"/>
            <circle cx="110.5" cy="73.5" r="1.5" class="fill-blue"/>
            <circle cx="128.5" cy="73.5" r="1.5" class="fill-blue"/>
            <circle cx="2.5" cy="91.5" r="1.5" class="fill-blue"/>
            <circle cx="20.5" cy="91.5" r="1.5" class="fill-blue"/>
            <circle cx="38.5" cy="91.5" r="1.5" class="fill-blue"/>
            <circle cx="56.5" cy="91.5" r="1.5" class="fill-blue"/>
            <circle cx="74.5" cy="91.5" r="1.5" class="fill-blue"/>
            <circle cx="92.5" cy="91.5" r="1.5" class="fill-blue"/>
            <circle cx="110.5" cy="91.5" r="1.5" class="fill-blue"/>
            <circle cx="128.5" cy="91.5" r="1.5" class="fill-blue"/>
            </svg>
<section class="container-thunbnail">
  <section class="thunbnail_border">
  </section>
  <section class="thunbnail">
</section>
</section>
</section>
</section>

